# Compiled
###############################################################################
*.com
*.class
*.dll
*.exe
*.o
*.pyc
*.so

# Packages
###############################################################################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs, Databases
###############################################################################
*.log
*.sql
*.sqlite

# OS
###############################################################################
.DS_Store*
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes

# IDE
###############################################################################
.idea
*.iml
atlassian-ide-plugin.xml
*.sublime-project
.vagrant

# NODE
###############################################################################
node_modules
npm-debug.log

# FROG
###############################################################################
config.local.js
